<!DOCTYPE html>
<html>
    <%=time = Time.new%>
    <%=day_of_week=time.wday%>
    <%=day_number = time.day%>
    <%=month = time.month%>
    <%=year = time.year%>
    <p>The date is <%=time.strftime(%A, %B %d, %Y)%></p>
</html>
